
body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: whitesmoke;
}
h1{
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;
}
.span{
    color: orange;
}

.first-sec{
    display: flex;
    padding: 5%;
    margin-bottom: 30px;
}
.first-sec-divs{
    width: 50%;
}
.position{
    position: absolute;
    right: 60px;
    top: 40px;
}
.first-sec-divs img{
    width: 90%;
}

.order{
    border: 2px solid red;
    background-image: linear-gradient(orange, tomato);
    border-radius: 30px;
    text-decoration: none;
    padding: 20px 40px;
    margin-top: 50px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    color: white;
}

.second-div{
    width: 50%;

}
.second-sec-div{
    display: flex;
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 30px;
    padding: 5% 3% 0% 7%;   
}
.second-div img{
    width: 50%;
}


/*third div style*/    

.trd-sec-div{
    text-align: center;
}
.main-div{
    display: flex;
    padding: 5% 5% 0% 5%;
}
.recp-div{
    width: 50%;  
    text-align: left;
    background-color: white;
    border-radius: 25px;
    margin: 15px;
    box-shadow: 1px 1px 10px 1px lightgrey;
    
}
.recp-div img{
   width: 100%; 
}
.inner-recp-div{
    padding: 30px;    
}
.branding-sec{
    padding: 5%;
}
.head-div{
    display: flex; 
    background-color: white;
    box-shadow: 1px 1px 10px 1px lightgrey;
    border-radius: 25px;
}
.sub-div{
    width: 30%;
    text-align: center;
}
/*   footer   */
.mini-head{
    font-size: 50px;
    font-weight: 700px;
}

.footer-div{
    background-color: indigo;
    text-align: center;
    padding: 40px;
    color: white;
    
}