body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Rubik', sans-serif;
}
h1{
    font-size: 70px;
    font-weight: bold;
    line-height: 60px;


}
.span{
    color: orange;
}


.first-sec{
    display: flex;
    padding: 5%;
}
.first-sec-divs{
    width: 50%;
    /* position: absolute;
    right: 50px;
    top: 40px; */
}
.first-sec-divs img{
    width: 100%;
    position: absolute;
    right: 50px;
    top: 40px;
}
.order{
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    border-radius: 10px;
    display: block;
    
    
}